@model IEnumerable<Ejercicio.ABC.Data.Models.Usuario>
@using GridMvc.Html

@{
    ViewBag.Title = "Usuarios";
}

<br />
<div class="row">
    <div class="col-md-12" style="text-align: right">
        <button onclick="location.href='@Url.Action("Crear", "Usuario")'" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Usuario</button>
    </div>
</div>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Usuarios</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-12">
                @Html.Grid(Model).Named("usuarioGrid").Columns(columns =>
                {
                    columns.Add(c => c.UsuarioID, true);
                    columns.Add(c => c.Clave).Titled("Clave").Filterable(true);
                    columns.Add(c => c.Nombre).Titled("Nombre").Filterable(true);
                    columns.Add(c => c.Apellido).Titled("Apellido").Filterable(true);
                    columns.Add(c => c.FechaNacimiento).Titled("Fecha de Nacimiento").Format("{0:MM/dd/yyyy}");
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(c => @<button onclick="location.href='@Url.Action("Actualizar", "Usuario", new { id = c.UsuarioID} )'" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Actualizar </button>);
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(c => @<button onclick="location.href='@Url.Action("EliminarUsuario", "Usuario", new { id = c.UsuarioID} )'" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Eliminar </button>);
                }).WithPaging(5).Sortable(true)

            </div>
        </div>
    </div>
</div>