@model IEnumerable<Ejercicio.ABC.Data.Models.Proveedor>
@using GridMvc.Html

@{
    ViewBag.Title = "Proveedor";
}

<br />
<div class="row">
    <div class="col-md-12" style="text-align: right">
        <button onclick="location.href='@Url.Action("Crear", "Proveedor")'" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Proveedor</button>
    </div>
</div>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Proveedores</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-12">
                @Html.Grid(Model).Named("proveedorGrid").Columns(columns =>
                {
                    columns.Add(c => c.ProveedorID, true);
                    columns.Add(c => c.RFC).Titled("RFC").Filterable(true);
                    columns.Add(c => c.Nombre).Titled("Nombre").Filterable(true);
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(c => @<button onclick="location.href='@Url.Action("Actualizar", "Proveedor", new { id = c.ProveedorID} )'" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Actualizar </button>);
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(c => @<button onclick="location.href='@Url.Action("EliminarProveedor", "Proveedor", new { id = c.ProveedorID} )'" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Eliminar </button>);
                }).WithPaging(5).Sortable(true)
            </div>
        </div>

    </div>
</div>